/* === BASE / GLOBAL === */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #020617;
    /* dark navy full layar */
    color: #0f172a;
}

/* Hilangkan margin default di root Svelte container */
#app,
#svelte {
    min-height: 100vh;
}